schema: 1-0-2
name: Template Python Component
description:
  brief: Brief description of the component
  details: Detailed description of the component.
inherits: "modulo_components::Component"
class: "{{ package_name }}::PyComponent"
type: component