schema: 1-0-3
name: Template Python Lifecycle Component
description:
  brief: Brief description of the component
  details: Detailed description of the component.
inherits: "modulo_components::LifecycleComponent"
class: "{{ package_name }}::PyLifecycleComponent"
type: lifecycle_component