{
  "cmake.sourceDirectory": "/home/ros2/ws/src/{{ vs_code_package }}",
  "clang-format.fallbackStyle": "none",
  "clang-format.language.cpp.style": "file:/home/ros2/.clang-format",
  "C_Cpp.intelliSenseEngine": "disabled",
  "[cpp]": {
    "editor.defaultFormatter": "xaver.clang-format",
    "editor.inlayHints.enabled": "on"
  },
  "editor.rulers": [
    120
  ],
  "[python]": {
    "editor.defaultFormatter": "charliermarsh.ruff"
  },
  "ruff.nativeServer": "on",
  "ruff.lineLength": 120,
  "yaml.schemas": {
    "https://raw.githubusercontent.com/aica-technology/api/5583d2afea6b327fca809d27acefcbbdf5950238/docs/static/schemas/1-0-3/extension.schema.json": [
        "extension_descriptions/*.yaml"
    ]
  }
}