schema: 1-0-3
name: "{{ controller_name }}"
description:
  brief: Brief description of the controller
  details: Detailed description of the controller.
inherits: "modulo_controllers/RobotControllerInterface"
class: "{{ package_name }}/{{ controller_name }}"
type: controller